:root {
  --color-link: #8e44ad;
  --color-hover: #f9f9f9;
  --color-bg: #FFFAF0;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(SourceSansPro.woff);
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Source Sans Pro";
  margin: auto;
  background: var(--color-bg);
  max-width: 720px;
  line-height: 1.6;
  padding: 4em 1em; }

.article-body a, .article-meta a {
  text-decoration: none;
  color: var(--color-link); }

.article-body a:hover {
  border-bottom: 1px solid var(--color-link); }

.article-title {
    margin: 0 auto;
    text-align: center; 
    font-size: 1.5em; }

.article-meta {
  text-align: center;
  margin-top: -40px;
  font-size: 0.9em;
  color: #999; }

.article-body h2 {
  margin-top: 50px; }

.article-body h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #E0E0E0; }

.disclaimer {
  background: red;
  display: inline-block;
  /* padding: 0.5px 4px 0.5px 4px; */
  padding: 0.1px 4px;
  border-radius: 4px;
  color: var(--color-hover) !important;
  font-weight: 1000; }

.misc {
  background: var(--color-link);
  display: inline-block;
  padding: 0.1px 4px;
  border-radius: 4px;
  color: var(--color-hover) !important;
  font-weight: 1000; }

.block-note {
  background-color: #d6eaf8;
  padding: 7px;
  margin: 5px 0px 10px 0px;
  border-radius: 7px; }

p code, ul code {
  background: #F5F5F5;
  padding: 3px;
  border-radius: 3px;
  font-size: 1.05em; }

blockquote {
  background: #E8E8E8;
  max-width: auto;
  padding: 10px;
  border-left: 3px solid black; }

/* Table styling oh I hate doing this */
table {
  display: block;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #999; }

th, td {
  padding: 10px; }

tbody tr:nth-child(odd) {
  background-color: #ffff; }

tbody tr:nth-child(even) {
  background-color: #F0F0F0; }

thead th {
  background-color: #101010;
  color: #F8F8F8; }
